html {
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
}

.main-header {
    display: flex;
    float: right;
    height: 6px;
    align-items: center;
    font-size: 13px;
    margin 0;
    padding: 0;
}

.main-nav a {
    text-decoration: None;
    color: #353535;
    text-decoration: none;
    margin: 2px;
}

.main-nav img {
    margin: 1 px;
    vertical-align: middle;
}

.main-nav a:hover {
    text-decoration: underline;
    color: gray;
}

.logo {
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 272;
    height: 92;
}

.search-section {
    text-align: center;
    margin-top: 10%;
}

/* Note "inline-flex" below makes the search graphic and search box stay on one line on a narrow display*/

.search-bar-container {
    display: inline-flex;
    border-radius: 40px;
    border: 1px solid rgb(197, 197, 197);
    width: 35%;
    padding: 6px;
}

/* This adds a shadow when the cursor hovers over the search bar */

.search-bar-container:hover {
    box-shadow: 0 0 5px rgb(197, 197, 197);
}

#search-logo {
    margin: 5px;
    vertical-align: middle;
}

.search-bar {
    border: none;
    width: 85%;
    font: normal 16px system-ui;
    height: 34px;
}

/* This removes the text box outline shown when it has the focus */

.search-bar:focus {
    outline: none;
}

/* Buttons under search box */

.buttons
{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.searchbutton
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 5px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.searchbutton:hover
{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}